<h1><%= t('listing', name: t('shopping_list.title', count: 2)) %></h1>

<table class="table table-striped table-hover table-sm">
 <thead>
   <tr>
     <th scope="col"><%= t('shopping_list.name') %></th>
     <th scope="col"><%= t('shopping_list.completed') %></th>
     <th scope="col"><%= t('actions') %></th>
   </tr>
 </thead>

 <tbody>
   <% @shopping_lists.each do |shopping_list| %>
     <tr>
       <td><%= shopping_list.name %></td>
       <td><%= shopping_list.completed %></td>

       <td>
         <div class="btn-group btn-group-sm" role="group">
           <%= link_to t('show'), shopping_list, class: 'btn btn-info', role: :button %>
           <%= link_to t('edit'), edit_shopping_list_path(shopping_list), class: 'btn btn-success', role: :button %>
           <%= link_to t('destroy'), shopping_list, method: :delete, data: { confirm: t('confirm_destroy') }, class: 'btn btn-danger', role: :button %>
         </div>
       </td>
     </tr>
   <% end %>
 </tbody>
</table>

<br>

<%= link_to t('new', name: t('shopping_list.title', count: 1)), new_shopping_list_path, class: 'btn btn-primary', role: :button %>
